*{
	margin: 0;
	padding: 0;
}
#body{
	height: 100%;
    display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 20px;
	background-color: #000F0F;
	
	
}
#spaceship{
	display: none;
}
#clock
{
	display: grid;
	grid-template-columns: 60px 60px 100px;
	justify-content: right;
	border-radius: 8px;
	grid-gap: 17px ;
}
.brick{
	font-family: arial;
    background: pink;
	margin: 5px;
	display: grid;
	grid-gap: 1px;
	text-align: center;
	border-radius: 4px;
	padding: 8px;
	font-size: 30px;
	height: 50px;
	width: 50px;
	font-weight: 500;
    box-shadow: 10px 10px 4px black;
}
#hour{
	background: #2196f3
}

#min{
	background: #2196f3
}

#sec{
	background: #FF0077
}
.time{
	color: #eee;
	display: grid;
	justify-content: center;
	box-shadow: 5px 5px 6px black inset;
	font-size: 15px;
	border-radius: 5px;
}
#score{

	background: white;
	display: grid;
	grid-template-rows:repeat(2, 1fr) ;
	border-radius: 14px;
	height: 150px;
	width: 200px;
	margin-left:810px ;
	margin-right: -300px;
	margin-top:-350px ;
	border: 7px solid deeppink;

}
#score1{
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	
}
#value{
	text-align: center;
	font-size: 28px;
}
#level{
    height: 35px;
    width: 200.5px;
    background-color: orange;
	box-shadow: 5px 5px 20px black inset;
	font-size: 20px;
	text-align: center;
	font-weight: 700;
}
#highscore{
	text-align: center;
	font-weight: 600;
	font-size: 19px;
	overflow-y: auto;
}
#start{
	padding: 5px;
	font-size: 29px;
	margin-left: -20px;
	margin-top: -245px;
	border-radius: 15px;
	transform: rotate(90deg);
	height: 40px;
	width: 100px;
	justify-content: center;
	text-align: center;
	background: lightpink;
	box-shadow: 1px 1px 9px white;
	cursor: pointer;
}

#instruction{
	background: white;
	margin-top: -150px;
	margin-right: -200pc;
	margin-left: 730px;
   height: 161px;
   width: 300px;
   border: 5px solid green;
   border-radius: 10px;
   overflow-y: auto;
}
#heading{
	margin: 2px;
	padding: 2px;
	text-align: center;
	font-size: 25px;
	font-weight: 600;
}
#image1{
	text-align: top;
	margin: 2px;
	height: 20px;
	width: 20px;
}
#image2{
	margin: 2px;
	height: 20px;
	width: 20px;
}
#image3{
	margin: 2px;
	height: 20px;
	width: 20px;
}
#nav{
	margin: 4px;

}
.ser{
	margin: 2px;
	font-weight: 600;
	cursor: pointer;
}
#scoring{
	font-family: Comic Sans MS;
}